@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-timeline::before {
  /* this is the vertical line */

  background: black !important;
}

.vertical-timeline::after {
  /* this is the vertical line */

  background: black !important;
}

.vertical-timeline-element-content {
  padding: 2em 3em !important;
  border-top: 3px solid #1c00ee;
}

.timeline-date {
  color: black;
  font-size: 40px !important;
}

#vertical-timeline-element-title {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

#vertical-timeline-element-subtitle {
  font-size: 18px;
  color: gray;
}

@media screen and (max-width: 768px) {
  .vertical-timeline-element-content {
    padding: 1em !important;
  }

  .timeline-date {
    font-size: 24px !important;
  }

  #vertical-timeline-element-title {
    font-size: 20px !important;
  }

  #vertical-timeline-element-subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .timeline-date {
    font-size: 18px !important;
  }

  #vertical-timeline-element-title {
    font-size: 16px !important;
  }

  #vertical-timeline-element-subtitle {
    font-size: 14px;
  }
}
